#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.whole {
  display: flex;
  margin-top: 0px;
  justify-content: space-between; 
  align-items: center;
  justify-content: center;
  gap: 500px;

}

.banned, .cent, .seen {
  flex: 1; 
  padding: 10px;
}

.banned {
  background-color: red;
}
.cent {
  background-color: green;

}


button{
  background-color: orange;
}
